*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#mydiv{
    display: flex;
    flex-direction: column;/*content from top to bottom*/
}
#header{
    display: flex; /*flex*/
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: azure;
    justify-content: center;
    gap: 20px;
    height: 70px;
    justify-content: space-between;/*keeping content not space from side*/
    align-items: center;/*from top*/
    border-bottom: 1px solid gray;
}
#header .logo{
    color: blueviolet;
    margin-left: 20px;
}
#header .nav-right{
    display: flex;
    justify-content: flex-end;/*to move login and sign uo to side  with a margin-right of 20px*/
    align-items: center;
    margin-right: 20px;
    gap: 10px;
}
a{
    color: azure;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}
#header .menu{
    display: flex;
    gap: 30px;
}
a:hover{
    color: maroon;
}
.logo .imgsize{
    height: 70px;
    width: 90px;
}