*{
    padding: 0px;
    margin: 0px;
}
.image{
    height: 60px;
    width: 70px;
}
#header{
    display: flex;
    background-color:black;
    height: 60px;
    justify-content: space-between;
}
.list{
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
}
.list li{
    list-style-type: none;
}
.list a{
    text-decoration: none;
    color:maroon;
}
 a:hover{
    color:white;
}
.anc{
    padding-left: 60px;
    padding-top:30px ;
}
.btn{
    padding: 20px;
}
.btn button{
    border: .5px solid black;
    width: 60px;
    color: maroon;
}
#mcon{
    justify-content: center;
    align-items: center;

}
.ig{
    background-color: brown;
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    height: 250px;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
}
.mhead{
    padding-left: 44%;
}
.b{
    margin-top: 10px;
    padding-left: 38%;
    font-size: 1.2rem;
    font-weight: 700;
}
.std{
    height: 150px;
    width: 35%;
    background-color: black;
    display: flex;
}
.std a{
    margin-top: 25%;
    margin-left: 25%;
}
.para{
    width: 50%;
}
#foot{
    display: flex;
    bottom: 20px;
}